[submodule "ft"]
	path = ft
	url = https://github.com/anlog/ft
[submodule "utils"]
	path = utils
	url = https://github.com/anlog/lg
[submodule "libs/code"]
	path = libs/code
	url = https://github.com/anlog/code
