[submodule "ft"]
	path = ft
	url = git@github.com:anlog/ft.git
[submodule "utils"]
	path = utils
	url = git@github.com:anlog/lg.git
[submodule "libs/code"]
	path = libs/code
	url = git@github.com:anlog/code.git
