[submodule "rxjava"]
	path = other/libs/RxJava
	url = https://github.com/ReactiveX/RxJava
[submodule "rxandroid"]
	path = other/libs/RxAndroid
	url = https://github.com/ReactiveX/RxAndroid
[submodule "ft"]
	path = ft
	url = https://github.com/anlog/ft
